.title {
  margin: 0 auto;
  white-space: nowrap;
  text-align: center;
  width: 300px;
  font-size: 30px;
  padding: 5px 0;
  margin-bottom: 20px;
  color: black;
  border-bottom: 3px solid #6aa7e5;
}
