#content {
  max-width: 600px;
  margin: 0 auto;
}
.todoList {
  margin: 0 auto;
  border-radius: 30px;
  border: #99ccff 1px solid;
  background: #fff;
  list-style: none;
  padding: 20px 30px;
  line-height: 50px;
  font-size: 20px;
  max-width: 600px;
}
.todoListItem {
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
}
.doneItemLink {
  text-decoration: line-through;
  color: black;
  padding: 5px 10px;
  margin-right: 10px;
}
.undoItemLink {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 10px;
}
.undoItemLink:hover {
  color: white;
  border: 1px transparent;
  border-radius: 30px;
  background: #6aa7e5;
}

.todoActionWrapper {
  display: flex;
  gap: 10px;
}
.todoEditLink {
  font-size: 20px;
  color: #000;
}
.deleteBtn {
  appearance: none;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

.registBtn {
  color: #000;
  align-self: center;
  justify-self: end;
}

input[type="checkbox"] {
  opacity: 1;
  height: 15px;
  width: 15px;
}

.backBtn {
  display: block;
  text-decoration: none;
  color: black;
  font-size: xx-large;
  position: absolute;
}

.filterBtn {
  background: transparent;
  border: 1px solid #6aa7e5;
  border-radius: 30px;
  margin-top: 20px;
  color: #000;
}

.filterBtn:hover {
  background: #6aa7e5;
  border: 1px solid transparent;
  border-radius: 30px;
  margin-top: 20px;
  color: #fffeeb;
}
.searchBar {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
  width: 500px;
}

.searchInput {
  min-width: 200px;
  flex-grow: 1;
  height: 30px;
  outline: none;
  padding: 5px 20px;
  border-radius: 30px;
  border: 1px solid #6aa7e5;
}
.fontAwesomeIcon {
  color: black;
  align-self: center;
}
.optionBtnWrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
